.thumbnail-rad {
    border-radius: 17px !important; 
    object-fit: cover;
}
.logo-rad {
    border-radius: 36px !important; 
}
.logoc-rad {
    border-radius: 103px !important; 
}
.video-title {
    font-size: 17px
}
.video-info {
    font-size: 17px
}
.channel-title {
    font-size: 23px
}