{% include "header.html" %}

{% include "script.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 position-relative">
            <div class="sticky-top">
                {% include "sidebar.html" %}
            </div>
        </div>
        <div class="col-sm-10 position-relative">
            <div class="row">
                {% for video in videos %}
                <div class="col-sm-3 mt-5" id="div{{ video['_id'] }}">
                    <div class="row">
                        <div class="position-relative">
                            <img src="{{ video['thumbnail']}}" width="360" height="203" class="thumbnail-rad">
                            <a class="stretched-link" href="https://www.youtube.com/watch?v={{ video['_id'] }}" target="_blank"></a>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <span>
                            <a class="text-danger fw-bold" id="{{ video['_id'] }}" onclick="read(this.id);return false;" href="#">REMOVE</a>
                            <span  class="fw-bold"> - [{{ video['duration']|convert_time }}] - </span>
                            <a class="video-title fw-bold" href="https://www.youtube.com/watch?v={{ video['_id'] }}" target="_blank">{{ video['title'] }}</a>
                        </span>
                    </div>
                    <div class="row mt-2 position-relative">
                        <div class="col-1">
                            <img src="{{ video['channel']|get_logo }}" width="36" class="logo-rad">
                        </div>
                        <div class="col-10 ms-3">
                            <div class="row">
                                <div class="video-info mt-1">{{ video['channel']|get_title }} - {{ video['channel']|get_subscriberCount }}</div>
                            </div>
                        </div>
                        <a class="stretched-link" href="https://www.youtube.com/channel/{{ video['channel'] }}" target="_blank"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}