{% include "header.html" %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 position-relative">
            <div class="sticky-top">
                {% include "sidebar.html" %}
            </div>
        </div>
        <div class="col-lg-10 position-relative">
            <div class="row mt-5 justify-content-md-center">
                <div class="col-lg-8">
                    <form action="/add" method="post">
                        <div class="row">
                            <div class="col-10 text-center">
                                <label class="form-label">Add new channel</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                            <input type="text" class="form-control" name="link" placeholder="LINK">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">ADD</button>
                            </div>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}