<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <img class="me-4" src="{{ url_for('static', filename='media/favicon.png') }}" width="40px">
          <span class="fs-4">YouTube RSS</span>
        </a>
        <hr>
        <span class="text-center">{{ last_update }}</span>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            {% if active == 'home' %}
            <a href="/" class="nav-link active" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home ({{ videos|length }})
            {% else %}
            <a href="/" class="nav-link text-white" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home
            {% endif %}
            </a>
          </li>
          <hr>
          <li>
            {% if active == 'channels' %}
            <a href="/channels" class="nav-link active" aria-current="page">
            {% else %}
            <a href="/channels" class="nav-link text-white" aria-current="page">
            {% endif %}
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Channels
            </a>
          </li>
          <li>
            {% if active == 'videos' %}
            <a href="/videos" class="nav-link active" aria-current="page">
            {% else %}
            <a href="/videos" class="nav-link text-white" aria-current="page">
            {% endif %}
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Videos
            </a>
          </li>
          <hr>
          <li>
            {% if active == 'manage' %}
            <a href="/manage" class="nav-link active" aria-current="page">
            {% else %}
            <a href="/manage" class="nav-link text-white" aria-current="page">
            {% endif %}
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Manage
            </a>
          </li>
        </ul>
    </div>
</main>